@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;600&display=swap');
 
:root{
  --first-color: #6841f5;
  --white-color: #FAFAFF;
  --dark-color: #2A3B47;
  --text-color: #697477;
}

h1{
  margin: 1em;
  font-family: 'Radio Canada', sans-serif;
  font-weight: 600;
  color: var(--text-color);
}

.bg-light {
  background-color: #FAFAFF;
  color: #6841f5;
}

.item {
  margin-bottom: 2em;
}

p {
  text-align: center;
  display: block;
}

.nav-link {
  font-family: 'Radio Canada', sans-serif;
  font-weight: 400;
}