 :root{
  --first-color: #6841f5;
  --white-color: #FAFAFF;
  --dark-color: #2A3B47;
  --text-color: #697477;
}

h1{
  margin: 1em;
}

.bg-light {
  background-color: #FAFAFF;
  color: #6841f5;
}

.item {
  margin-bottom: 2em;
}